# Ignore environment-specific settings
env/
.env

# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore only auth.yaml file
/auth.yaml

# Ignore .db files
