{% extends "base.html" %} {% block title %}Movies database{% endblock %} {%
block content %}
<div class="flex-col col-md-12 d-flex">
  <p class="p-input-title">What do you want to see?</p>

  <form
    method="post"
    class="d-flex justify-content-center align-items-center col-md-12 flex-row"
    onsubmit="showLoading()"
  >
    <div class="col-md-1 d-flex justify-content-start align-items-start">
      <button
        type="button"
        data-mdb-button-init
        data-mdb-ripple-init
        class="btn btn-light btn-square-sm mx-3"
        data-mdb-ripple-color="dark"
        onclick="window.location='{{url_for('movies')}}'"
      >
        <img
          src="{{ url_for('static', filename='img/arrow_back.png')}}"
          class="img-btn-home"
        />
      </button>
    </div>

    <div class="col-md-8 d-flex justify-content-center align-items-center">
      <div>
        <input
          type="search"
          class="form-control input-movie"
          name="movie_page"
          value="{{request.form['movie_page']}}"
          placeholder="Find some movies"
        />
      </div>
      <button class="btn-go" type="submit">Search</button>
    </div>

    <div
      class="col-md-1 d-flex justify-content-center align-items-center"
    ></div>
  </form>

  <div
    id="loading"
    class="col-md-10 container container-loading justify-content-center align-items-center"
    style="display: none !important"
  >
    <img
      class="loading-gif"
      src="{{ url_for('static', filename='img/loading.gif')}}"
    />
  </div>

  <div id="movies-container" class="container container-movie col-md-10">
    {% if movies %} {% for movie in movies %}
    <div class="container-movie-list">
      <div
        class="justify-content-center align-items-center col-md-12 flex-row pb-3"
      >
        <img
          src="{{'https://image.tmdb.org/t/p/w200' + movie['poster_path']}}"
          class="movie-image"
        />
        <div>
          <h5>{{movie['title']}}</h5>
          <h6>{{movie['release_date']}}</h6>
          <b>Overview</b>
          <p>{{movie['overview']}}</p>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}

    <div
      class="container-no-movies justify-content-center align-items-center d-flex flex-column"
    >
      <img
        src="{{ url_for('static', filename='img/no-movies.png') }}"
        class="img-no-movies"
      />
      <p class="p-no-movies">
        No movies available in database, search them before.
      </p>
    </div>
    {% endif %}
  </div>
</div>

<script>
  function showLoading() {
    document.getElementById("loading").style.display = "flex";
    document.getElementById("movies-container").style.display = "none";
  }

  window.addEventListener("load", function () {
    document.getElementById("loading").style.display = "none";
  });
</script>

{% endblock %}
